In [218]:
import pandas as pd
import numpy as np

In [219]:
train= pd.read_csv("hacktrain.csv")

In [220]:
test=pd.read_csv("hacktest.csv")

In [221]:
train

,Unnamed: 0,ID,class,20150720_N,20150602_N,20150517_N,20150501_N,20150415_N,20150330_N,20150314_N,...,20140610_N,20140525_N,20140509_N,20140423_N,20140407_N,20140322_N,20140218_N,20140202_N,20140117_N,20140101_N
0,0,1,water,637.5950,658.668,-1882.030,-1924.36,997.904,-1739.990,630.087,...,NaN,-1043.160,-1942.490,267.138,NaN,NaN,211.328,-2203.020,-1180.19,433.906
1,1,2,water,634.2400,593.705,-1625.790,-1672.32,914.198,-692.386,707.626,...,NaN,-933.934,-625.385,120.059,364.858,476.972,220.878,-2250.000,-1360.56,524.075
2,3,4,water,58.0174,-1599.160,NaN,-1052.63,NaN,-1564.630,NaN,...,-1025.880,368.622,NaN,-1227.800,304.621,NaN,369.214,-2202.120,NaN,-1343.550
3,4,5,water,72.5180,NaN,380.436,-1256.93,515.805,-1413.180,-802.942,...,-1813.950,155.624,NaN,-924.073,432.150,282.833,298.320,-2197.360,NaN,-826.727
4,7,8,water,1136.4400,NaN,NaN,1647.83,1935.800,NaN,2158.980,...,1535.000,1959.430,-279.317,-384.915,-113.406,1020.720,1660.650,-116.801,-568.05,-1357.140
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7995,10537,10538,impervious,1207.7000,984.620,NaN,1166.25,937.478,1072.700,823.896,...,1117.740,1176.600,1044.110,NaN,369.082,465.843,362.882,979.795,NaN,433.659
7996,10538,10539,impervious,2170.3500,1419.720,1361.000,1478.71,983.911,1262.110,1422.860,...,984.634,2128.970,1379.660,NaN,762.633,485.204,446.724,771.747,1589.06,506.936
7997,10541,10542,impervious,1895.6800,1454.740,NaN,1033.56,1930.380,1057.150,1471.600,...,888.408,2093.020,1232.110,1190.830,1441.460,1170.880,1095.000,1818.650,2501.72,1247.770
7998,10542,10543,impervious,3465.7400,1283.320,413.412,4391.05,1146.820,4473.050,1614.750,...,5833.760,4047.320,4515.800,433.177,277.296,744.143,NaN,3759.710,NaN,388.346
7999,10544,10545,impervious,6941.1900,1667.870,5084.780,NaN,1588.950,5978.190,NaN,...,7352.570,3289.860,3729.150,1994.980,NaN,5299.900,NaN,5983.130,1249.71,2424.230

In [222]:
test

,Unnamed: 0,ID,20150720_N,20150602_N,20150517_N,20150501_N,20150415_N,20150330_N,20150314_N,20150226_N,...,20140610_N,20140525_N,20140509_N,20140423_N,20140407_N,20140322_N,20140218_N,20140202_N,20140117_N,20140101_N
0,0,1,7466.4200,413.162,5761.000,5625.45,489.4030,3923.84,3097.110,6766.42000,...,801.184,927.115,4704.14,6378.42,340.949,2695.5700,527.268,4736.75,601.843,6639.760
1,1,2,7235.2600,6037.350,1027.560,6085.14,1618.0500,6668.54,2513.990,1051.69000,...,5533.470,5103.040,5216.12,4885.27,4366.790,1234.1400,3298.110,6942.68,1070.440,842.101
2,2,3,7425.0800,6969.980,1177.940,7408.93,861.0610,7644.43,814.458,1504.29000,...,1981.390,6204.540,7021.69,5704.41,4897.450,1789.9900,2206.100,6928.93,1036.560,831.441
3,3,4,7119.1200,1731.620,6311.930,6441.61,465.9790,7128.42,1649.120,6935.22000,...,959.344,5794.150,1045.57,5572.90,586.287,685.9060,1287.000,6734.72,824.584,6883.610
4,4,5,7519.5500,8130.260,1482.540,7879.53,1001.2100,7937.60,4122.530,1094.51000,...,7636.070,6996.760,7413.43,4596.13,4511.700,1413.5200,3283.940,7937.68,1857.800,1336.920
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2840,2840,2841,-1673.7400,-2514.480,-2451.190,-2738.44,64.4464,-2275.03,-2881.100,-4738.97000,...,-2257.890,-2582.420,-1699.10,-2295.30,306.483,209.4030,221.920,-4885.15,-2630.590,356.233
2841,2841,2842,-96.8233,-412.727,-1795.400,-2363.82,-2168.1900,-2162.68,-3155.740,-4416.11000,...,-3991.910,-2614.910,-2109.84,-2687.18,-2853.890,71.3402,-86.414,-5109.01,324.637,-4316.580
2842,2842,2843,-2364.6000,-155.592,-1422.090,-1713.40,465.6220,-2230.40,-3088.730,-5010.32000,...,-2484.500,-1756.080,-3820.43,-1988.23,433.852,291.8000,254.548,-4259.30,412.115,-1170.750
2843,2843,2844,-3004.6300,-1217.120,180.122,-1113.89,438.4180,-2442.51,-3210.560,-3237.74000,...,-3291.490,-2018.450,-3472.65,-3109.07,511.792,369.0970,276.948,-5574.51,298.739,460.419
2844,2844,2845,-2975.1000,-1129.790,463.748,-5355.40,193.5110,-2590.16,-3113.520,-2.38883,...,-3058.230,-2276.180,-3335.00,-2929.19,-1007.500,271.0580,307.997,-5453.33,307.495,417.124

In [223]:
train.isnull().sum()

Unnamed: 0       0
ID               0
class            0
20150720_N     560
20150602_N    1200
20150517_N     800
20150501_N     960
20150415_N     480
20150330_N    1120
20150314_N     720
20150226_N    1360
20150210_N     640
20150125_N    1040
20150109_N     880
20141117_N    1280
20141101_N     400
20141016_N    1440
20140930_N     800
20140813_N     560
20140626_N    1600
20140610_N     480
20140525_N     720
20140509_N     880
20140423_N    1760
20140407_N     640
20140322_N    1120
20140218_N    1440
20140202_N     560
20140117_N    1200
20140101_N     400
dtype: int64

In [224]:
train.drop(columns=['Unnamed: 0'], inplace=True)
test.drop(columns=['Unnamed: 0'], inplace=True)

In [225]:
train

,ID,class,20150720_N,20150602_N,20150517_N,20150501_N,20150415_N,20150330_N,20150314_N,20150226_N,...,20140610_N,20140525_N,20140509_N,20140423_N,20140407_N,20140322_N,20140218_N,20140202_N,20140117_N,20140101_N
0,1,water,637.5950,658.668,-1882.030,-1924.36,997.904,-1739.990,630.087,NaN,...,NaN,-1043.160,-1942.490,267.138,NaN,NaN,211.328,-2203.020,-1180.19,433.906
1,2,water,634.2400,593.705,-1625.790,-1672.32,914.198,-692.386,707.626,-1670.590,...,NaN,-933.934,-625.385,120.059,364.858,476.972,220.878,-2250.000,-1360.56,524.075
2,4,water,58.0174,-1599.160,NaN,-1052.63,NaN,-1564.630,NaN,729.790,...,-1025.880,368.622,NaN,-1227.800,304.621,NaN,369.214,-2202.120,NaN,-1343.550
3,5,water,72.5180,NaN,380.436,-1256.93,515.805,-1413.180,-802.942,683.254,...,-1813.950,155.624,NaN,-924.073,432.150,282.833,298.320,-2197.360,NaN,-826.727
4,8,water,1136.4400,NaN,NaN,1647.83,1935.800,NaN,2158.980,NaN,...,1535.000,1959.430,-279.317,-384.915,-113.406,1020.720,1660.650,-116.801,-568.05,-1357.140
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7995,10538,impervious,1207.7000,984.620,NaN,1166.25,937.478,1072.700,823.896,943.698,...,1117.740,1176.600,1044.110,NaN,369.082,465.843,362.882,979.795,NaN,433.659
7996,10539,impervious,2170.3500,1419.720,1361.000,1478.71,983.911,1262.110,1422.860,1401.970,...,984.634,2128.970,1379.660,NaN,762.633,485.204,446.724,771.747,1589.06,506.936
7997,10542,impervious,1895.6800,1454.740,NaN,1033.56,1930.380,1057.150,1471.600,NaN,...,888.408,2093.020,1232.110,1190.830,1441.460,1170.880,1095.000,1818.650,2501.72,1247.770
7998,10543,impervious,3465.7400,1283.320,413.412,4391.05,1146.820,4473.050,1614.750,770.469,...,5833.760,4047.320,4515.800,433.177,277.296,744.143,NaN,3759.710,NaN,388.346
7999,10545,impervious,6941.1900,1667.870,5084.780,NaN,1588.950,5978.190,NaN,3068.030,...,7352.570,3289.860,3729.150,1994.980,NaN,5299.900,NaN,5983.130,1249.71,2424.230

In [226]:
#
ndvi_columns_train = [col for col in train.columns if col not in ['ID', 'class']]
ndvi_columns_test = [col for col in test.columns if col != 'ID']


train['ndvi_mean'] = train[ndvi_columns_train].mean(axis=1)
train['ndvi_std'] = train[ndvi_columns_train].std(axis=1)
train['ndvi_min'] = train[ndvi_columns_train].min(axis=1)
train['ndvi_max'] = train[ndvi_columns_train].max(axis=1)
train['ndvi_median'] = train[ndvi_columns_train].median(axis=1)
train['ndvi_range'] = train['ndvi_max'] - train['ndvi_min']

# Same features for test set
test['ndvi_mean'] = test[ndvi_columns_test].mean(axis=1)
test['ndvi_std'] = test[ndvi_columns_test].std(axis=1)
test['ndvi_min'] = test[ndvi_columns_test].min(axis=1)
test['ndvi_max'] = test[ndvi_columns_test].max(axis=1)
test['ndvi_median'] = test[ndvi_columns_test].median(axis=1)
test['ndvi_range'] = test['ndvi_max'] - test['ndvi_min']

# Display to verify
train[['ndvi_mean', 'ndvi_std', 'ndvi_min', 'ndvi_max', 'ndvi_median', 'ndvi_range']].head()

    ndvi_mean     ndvi_std  ndvi_min  ndvi_max  ndvi_median  ndvi_range
0 -356.566818  1100.007185  -2203.02   997.904     239.2330    3200.924
1 -252.624381   953.792308  -2250.00   914.198     167.1295    3164.198
2 -511.704400  1158.179688  -3162.14   952.178      58.0174    4114.318
3 -290.295917  1053.427212  -2829.40  1232.120     219.2285    4061.520
4  553.286190  1289.035547  -2646.05  2158.980    1020.7200    4805.030

In [227]:
train[ndvi_columns_train] = train[ndvi_columns_train].rolling(window=3, axis=1, min_periods=1).mean()
test[ndvi_columns_test] = test[ndvi_columns_test].rolling(window=3, axis=1, min_periods=1).mean()

C:\Users\krity\AppData\Local\Temp\ipykernel_7496\4166677655.py:1: FutureWarning: Support for axis=1 in DataFrame.rolling is deprecated and will be removed in a future version. Use obj.T.rolling(...) instead
  train[ndvi_columns_train] = train[ndvi_columns_train].rolling(window=3, axis=1, min_periods=1).mean()
C:\Users\krity\AppData\Local\Temp\ipykernel_7496\4166677655.py:2: FutureWarning: Support for axis=1 in DataFrame.rolling is deprecated and will be removed in a future version. Use obj.T.rolling(...) instead
  test[ndvi_columns_test] = test[ndvi_columns_test].rolling(window=3, axis=1, min_periods=1).mean()

In [228]:
#features = ndvi_columns_train + ['ndvi_mean', 'ndvi_std', 'ndvi_min', 'ndvi_max', 'ndvi_median', 'ndvi_range']
#x = train[features]
#y=train['class']
#x_test=test[[col for col in features if col in test.columns]]

In [229]:
y

0            water
1            water
2            water
3            water
4            water
           ...
7995    impervious
7996    impervious
7997    impervious
7998    impervious
7999    impervious
Name: class, Length: 8000, dtype: object

In [230]:
from sklearn.impute import KNNImputer

#imputer = KNNImputer(n_neighbors=5)
#x_imputed = imputer.fit_transform(x)
#x_imputed = pd.DataFrame(x_imputed, columns=x.columns)


imputer = KNNImputer(n_neighbors=5)
train[ndvi_columns_train] = imputer.fit_transform(train[ndvi_columns_train])
test[ndvi_columns_test] = imputer.transform(test[ndvi_columns_test])

In [231]:
x_test

,20150720_N,20150602_N,20150517_N,20150501_N,20150415_N,20150330_N,20150314_N,20150226_N,20150210_N,20150125_N,...,20140218_N,20140202_N,20140117_N,20140101_N,ndvi_mean,ndvi_std,ndvi_min,ndvi_max,ndvi_median,ndvi_range
0,7466.4200,3939.79100,4546.860667,3933.204000,3958.617667,3346.231000,2503.451000,4595.790000,4230.886667,5446.040000,...,1187.929000,2653.196000,1955.287000,3992.784333,3343.529778,2477.036970,340.949,7466.420,3097.110,7125.471
1,7235.2600,6636.30500,4766.723333,4383.350000,2910.250000,4790.576667,3600.193333,3411.406667,3611.300000,5076.030000,...,2966.346667,3824.976667,3770.410000,2951.740333,3750.664704,2514.860621,535.296,7425.840,3298.110,6890.544
2,7425.0800,7197.53000,5191.000000,5185.616667,3149.310333,5304.807000,3106.649667,3321.059333,3107.126000,4864.493333,...,2964.513333,3641.673333,3390.530000,2932.310333,3790.384667,2807.079716,522.798,7644.430,2206.100,7121.632
3,7119.1200,4425.37000,5054.223333,4828.386667,4406.506333,4678.669667,3081.173000,5237.586667,3587.046667,3267.476000,...,853.064333,2902.542000,2948.768000,4814.304667,3242.310704,2627.535640,465.979,7128.420,1731.620,6662.441
4,7519.5500,7824.90500,5710.783333,5830.776667,3454.426667,5606.113333,4353.780000,4384.880000,4389.493333,5682.433333,...,3069.720000,4211.713333,4359.806667,3710.800000,4468.600704,2980.248232,550.508,8130.260,4345.240,7579.752
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2840,-1673.7400,-2094.11000,-2213.136667,-2568.036667,-1708.394533,-1649.674533,-1697.227867,-3298.366667,-3971.213333,-4478.250000,...,245.935333,-1484.609000,-2431.273333,-2386.502333,-1997.699207,1786.044716,-5611.400,491.678,-2257.890,6103.078
2841,-96.8233,-254.77515,-768.316767,-1523.982333,-2109.136667,-2231.563333,-2495.536667,-3244.843333,-4406.836667,-5086.016667,...,-956.321267,-1708.027933,-1623.595667,-3033.651000,-2318.400781,1984.884216,-5648.660,556.093,-2168.190,6204.753
2842,-2364.6000,-1260.09600,-1314.094000,-1097.027333,-889.956000,-1159.392667,-1617.836000,-3443.150000,-4103.490000,-4192.056667,...,326.733333,-1237.650667,-1197.545667,-1672.645000,-1640.061593,1724.990648,-5010.320,987.461,-1713.400,5997.781
2843,-3004.6300,-2110.87500,-1347.209333,-716.962667,-165.116667,-1039.327333,-1738.217333,-2963.603333,-2213.719000,-2096.045667,...,385.945667,-1642.821667,-1666.274333,-1605.117333,-1170.447741,1782.525273,-5574.510,973.953,-317.092,6548.463
2844,-2975.1000,-2052.44500,-1213.714000,-2007.147333,-1566.047000,-2584.016333,-1836.723000,-1902.022943,-1454.786277,-307.510943,...,-142.815000,-1624.758333,-1612.612667,-1576.237000,-1433.671386,2030.680393,-6215.730,516.427,-791.937,6732.157

In [232]:
x_imputed.isnull().sum()

20150720_N     0
20150602_N     0
20150517_N     0
20150501_N     0
20150415_N     0
20150330_N     0
20150314_N     0
20150226_N     0
20150210_N     0
20150125_N     0
20150109_N     0
20141117_N     0
20141101_N     0
20141016_N     0
20140930_N     0
20140813_N     0
20140626_N     0
20140610_N     0
20140525_N     0
20140509_N     0
20140423_N     0
20140407_N     0
20140322_N     0
20140218_N     0
20140202_N     0
20140117_N     0
20140101_N     0
ndvi_mean      0
ndvi_std       0
ndvi_min       0
ndvi_max       0
ndvi_median    0
ndvi_range     0
dtype: int64

In [235]:
from sklearn.decomposition import PCA

pca = PCA(n_components=10)
ndvi_pca_train = pca.fit_transform(train[ndvi_columns_train])
ndvi_pca_test = pca.transform(test[ndvi_columns_test])

ndvi_pca_train_df = pd.DataFrame(ndvi_pca_train, columns=[f'pca_{i}' for i in range(10)], index=train.index)
ndvi_pca_test_df = pd.DataFrame(ndvi_pca_test, columns=[f'pca_{i}' for i in range(10)], index=test.index)

features = ['ndvi_mean', 'ndvi_std', 'ndvi_min', 'ndvi_max', 'ndvi_range',
                  'ndvi_median']

x = pd.concat([ndvi_pca_train_df, train[features]], axis=1)
x_test = pd.concat([ndvi_pca_test_df, test[features]], axis=1)
y = train['class']

In [236]:
import pandas as pd
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import classification_report

In [237]:
label_encoder = LabelEncoder()
y_enc= label_encoder.fit_transform(y)

In [238]:
y_enc

array([5, 5, 5, ..., 3, 3, 3])

In [239]:
from sklearn.preprocessing import StandardScaler

In [242]:
#x_test = x_test[x_imputed.columns]

#print((x_imputed.columns == x_test.columns).all())

In [243]:

scaler = StandardScaler()
#scaler.fit(x_imputed) 
#X_scaled = scaler.transform(x_imputed)
#X_test_scaled = scaler.transform(x_test)

X_scaled = scaler.fit_transform(x)
X_test_scaled = scaler.transform(x_test)

In [244]:
X_train, X_test, y_train, y_test = train_test_split( X_scaled, y_enc, test_size=0.2, random_state=42, stratify=y_enc)

In [260]:
#model = LogisticRegression(
   # multi_class='multinomial',
   # solver='lbfgs',
   # max_iter=2000,
   # class_weight='balanced'
#)
#model.fit(X_train, y_train)

model = LogisticRegression(max_iter=300, solver='lbfgs', class_weight='balanced')
model.fit(X_scaled, y_enc)

LogisticRegression(class_weight='balanced', max_iter=300)

In [261]:
y_pred = model.predict(X_test)

In [262]:
label_encoder.classes_

array(['farm', 'forest', 'grass', 'impervious', 'orchard', 'water'],
      dtype=object)

In [263]:
print("Type of label_encoder.classes_:", type(label_encoder.classes_))
print("Value of label_encoder.classes_:", label_encoder.classes_)

Type of label_encoder.classes_: <class 'numpy.ndarray'>
Value of label_encoder.classes_: ['farm' 'forest' 'grass' 'impervious' 'orchard' 'water']

In [264]:
y_pred

array([1, 1, 3, ..., 0, 4, 1])

In [266]:
#print(classification_report(
   # y_test,
   # y_pred,
   # labels=list(range(len(label_encoder.classes_))),
    #target_names=label_encoder.classes_
#))

In [267]:
y_test=model.predict(X_test_scaled)

In [268]:
print(y_test.shape)

(2845,)

In [269]:
y_decoded = label_encoder.inverse_transform(y_test)
y_decoded

array(['farm', 'orchard', 'orchard', ..., 'water', 'water', 'water'],
      dtype=object)

In [270]:
ID= test['ID']

In [271]:
ID

0          1
1          2
2          3
3          4
4          5
        ...
2840    2841
2841    2842
2842    2843
2843    2844
2844    2845
Name: ID, Length: 2845, dtype: int64

In [272]:
result = pd.DataFrame({
    'ID': ID,
    'class': y_decoded
})

In [273]:
result

        ID    class
0        1     farm
1        2  orchard
2        3  orchard
3        4  orchard
4        5  orchard
...    ...      ...
2840  2841    water
2841  2842    water
2842  2843    water
2843  2844    water
2844  2845    water

[2845 rows x 2 columns]

In [274]:
result.to_csv("submission13.csv", index=False)